/* Write your CSS here */
.events-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  min-height: 100vh;
}
.events-display-container {
  background-color: #64748b;
  background-size: cover;
  width: 50vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.events-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
}
.events-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
